#banner {
	padding: 0 4rem;
}
#banner h1 {
	text-align: center;
	border: 1px solid #666;
	margin: -10px 0;
	padding: 1rem 0;
}
article {
	padding: 0 4rem;
}
#relative section {
	height: 10rem;
}
#relative section header h2 {
	display: inline;
}
#relative section header span.date {
	display: inline;
	padding-left: 2rem;
}