html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Arial, "微軟正黑體", msjh, "Microsoft JhengHei", sans-serif;
}
.pure-g [class *= "pure-u"] {
    padding: 0;
}
body {
	position: relative;
	margin: 0 auto;
	width: 72rem;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 1rem 0;
}
article {
	margin: 2rem 0;
}

/* Head Navigation Bar*/
nav {
	text-align: center;
	padding: 0 3rem;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	display: inline-block;
}
nav a {
	display: inline-block;
	padding: 1rem 2rem;
	text-align: center;
	color: #000;
	text-decoration: none;
}
nav a:hover, nav a:active, nav a:visited {
	color: #000;
}
nav a.now {
	font-weight: bold;
}
nav ul li ul.navdrop {
	display: none;
	position: absolute;
	z-index: 10;
	background: #DDD;
	text-align: left;
	overflow: hidden;
	margin-left: 2rem;
}
nav ul li ul.navdrop li {
	display: list-item;
}
nav ul li ul.navdrop li a {
	text-align: left;
	padding: 0.2rem 1rem;
	margin: 0.3rem 0;
	width: 100%;
	font-size: 1rem;
}
nav ul li ul.navdrop li a:hover {
	background: #FFF;
}

/* Widgets */
ul.unbullet {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.inline {
	padding: 0;
}
ul.inline>li {
	display: inline-block;
	margin: 0 0.5rem;
}
#shareBtn {
	text-align: right;
}
.box-1-5 {
	margin: 1.5rem;
}
.box-2 {
	margin: 2rem;
}

/* Line-title */
.lineTitle {
	text-align: center;
	position: relative;
}
.lineTitle hr {
	position: absolute;
	width: 100%;
	top: 1rem;
	border: 1.6rem;
	background: #AAA;
	height: 1px;
	z-index: -1;
}
.lineTitle span {
	padding: 0 2rem;
	background: #FFF;
}