/* Slider */
#slider {
	overflow: hidden;
}
#sliderBlock {
}
#sliderBtn {
	text-align: center;
}
#sliderBtn .sliderBtnIcn {
	margin: 0.5rem;
}

/* Activity */
.activity {
	background: #AAA;
	height: 24rem;
	overflow: hidden;
	margin: 0.5rem 0;
}
.activity header {
	text-align: center;
	background: #DDD;
	color: #666;
}
.activity figure {
	background: #0A0;
	height: 24rem;
	overflow: hidden;
}
.activity figure img {
	width: 100%;
}
.activity .add_border {
	border-left: 1px solid #FFF;
}
.activity.extend {

}

/* Banner */
.banner {
	background: #DDD;
}
.banner header {
	text-align: center;
	color: #FFF;
	background: #AAA;
	line-height: 8;
	padding: 10rem;
}
.banner section {
}
.banner section aside {
	display: none;
	position: absolute;
	background: #FFF;
	padding: 1rem;
}
.banner section aside ul h4 {
	margin: 0;
}