section {
	padding: 0 4rem;
}
ul#staff-table {
	padding: 0;
}
ul#staff-table figure {
	position: relative;
	margin: 0 auto;
	width: 16rem;
	height: 16rem;
	overflow: hidden;
	background: #D8D8D8;
}
ul#staff-table figure img {
	max-width: 16rem;
	max-height: 16rem;
}
ul#staff-table li ul {
	position: relative;
	width: 15rem;
	margin: 2rem auto 4rem auto;
	text-align: left;
}
ul#staff-table li ul li.name {
	font-weight: bold;
}

ul#staff-table li ul li.position {
	color: #555;
}
ul#staff-table li ul li.contact {
	color: #666;
}