/* MUST BE USED WITH THE GENERAL FILE */
.part {
	margin: 1rem;
}
.partIdentity {
	text-align: center;
}
.partIcon {
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	height: 16em;
	width: 16em;
	overflow: hidden;
	border-width: 0;
}
@media screen and (max-width: 48rem) {
	.partIcon {
		height: 8em;
		width: 8em;
	}
}
